.services-page {
    font-family: poppins;
  
    .services-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 8rem 0rem;
    }
  
    .services-image-container {
      text-align: center;
    }
  
    .services-footer {
      display: flex;
      justify-content: center;
      padding: 8rem 0rem;
  
      .footer-text {
        width: 114.8rem;
      }
    }
  }