.petal-img {
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    transform: none;
    transition: transform 0.3s ease;
    &:hover {
      transform: matrix(0, 1, 1, 0, 0, 0);
    }
  }

  &.top-left-corner-zero img {
    border-top-left-radius: 0;
  }

  &.top-right-corner-zero img {
    border-top-right-radius: 0;
  }

  &.bottom-left-corner-zero img {
    border-bottom-left-radius: 0;
  }

  &.bottom-right-corner-zero img {
    border-bottom-right-radius: 0;
  }
}
