$footer-color: #0312a3;
$button-color: #00da9f;
$curved-color: #f0f2ff;
$header-font-color: #46507c;
$secondary-color: #5c6bf4;
$button-text: #242a43;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$sub-text: #7e88b5;
// ----------------------------------------------------
$base-font: "Inter";
$base-font-size: 16px;
$base-font-weight: 400;
$base-font-color: #393d4e;
$selected-font-weight: 500;
$base-line-height: 17px;
$button-gradient-color: linear-gradient(273.43deg, #116af4 0%, #45aff5 99.17%);
$secondary-base-color: #6da3f8;
$header-height: 80px;
$white: #ffffff;
$black: #000000;
$header-color: #ffffff;
$header-text-color: #666666;
$border-color: #d9d9d9;
$sidebar-color: #ffffff;
$sidebar-inactive-color: #727272;
$dropdown-border-color: #bbd2f0;
$dashboard-color: #f7f8fa;
$card-colors: #292e33;
$card-secondary-color: #1b6197;
$high-color: #ad2102;
$selected-border-color: #bbd2f0;
$unselected-border-color: #bbbbbb;
$medium-color: #ff9c6e;
$low-color: #29cb97;
$passed-color: #8725e9;
$failed-color: #fed85b;

$secondary-background-color: #224865;
$secondary-text-color: #666666;
$app-primary-color: #f5f5f5;
$app-secondary-color: #f5f5f5;

$danger-color: #f44336;
$success-color: #4caf50;
$warning-color: #ff9800;
$passed-color: purple;
$failed-color: #f44336;
$info-color: #2196f3;
$active-tab-color: #276ea5;
$add-regulation-button-color: #1b4c72;
$btn-color: #1b4c72;
