
.bids-page{

}


.bidsTitle {
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 40px;
  text-align: center;
}

.bids-body{
    /* margin-top: 11vh; */
    margin: 5vh 5vw 0vh 5vw;
    font-family: "Roboto";
    font-weight: 100;
    letter-spacing: 0.02em;
    font-size: 30px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0px;
    background-color: #5e6eef;
    border-radius: 5vw 15vw;
}

