.submit-posting-page {
}

.submit-posting-body {
  margin: 3vh 5vw 0vh 5vw;
  font-family: "Roboto";
  font-weight: 800;
  letter-spacing: 0.02em;
  font-size: 30px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 3vh 0px;
  background-color: #bcc2fc;
  border-radius: 5vw 10vw;
}

.submit-posting-form {
  width: 50%;
  height: 700px;
  background-color: white;
  border-radius: 40px;
  margin-top: 10px;
  padding: 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vh;
}
.step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
  }

.add-posting-body-footer{
  display: flex;
  gap: 40px;
  margin-top: 10px;
  align-items: center;
  background-color: #f0f2fe;
  padding: 20px;
  border-radius: 5vw 5vw;
  }
.css-1vyamtt-MuiStepLabel-labelContainer {
  color: #bcc2fc !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
  color: #bcc2fc !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color: white !important;
}

.css-z7uhs0-MuiStepConnector-line {
  border-color: black !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: white !important;
}

.css-117w1su-MuiStepIcon-text {
  fill: black !important;
  font-size: 0.8rem !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: white !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: #a8befa !important;
}
