.ship-management-content {
  /* margin-left: 17%; */
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship-management-head {
  display: flex;
  max-width: 70%;

  .column-1 {
    max-width: 90%;
  }
}

.ship-management-head-image {
  border-radius: 0px 20rem 20rem 20rem;
  margin-top: 4rem;
  width: 35rem;
  height: 35rem;
  background-image: url("Tajjar/src/assets/Images/ship-management.png");
  object-fit: cover;
}

.ship-management-body {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-top: 10rem;

  .row-1 {
    display: flex;
    align-items: center;
    height: 20rem;
  }

  .row-2-1 {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    row-gap: 3rem;
    column-gap: 0px;
  }

  .row-2-2 {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}
