@import "src/sass/style.scss";
.root-container {
  height: 200vh;
  width: 100%;
  margin-top: 50px;
  display: block;
  justify-content: center;
  .main-container {
    display: flex;
    justify-content: center;
    .content-container {
      display: flex;
      justify-content: space-between;
      width: 1000px;
      height: 500px;
      .image-container {
        width: 150px;
        height: 150px;
      }
      .front-container {
        width: 500px;
        height: 200px;
        margin-top: 10%;
        .heading {
          width: 100%;
          height: 100%;
          color: black;
          font-family: Poppins;
          font-size: 42px;
          font-weight: $semibold-weight;
          overflow-wrap: break-word;
        }
        .subheading {
          width: 100%;
          .heading1 {
            display: flex;
            .subtext-image {
              width: 25px;
              height: 25px;
            }
            .text {
              margin-left: 10px;
              font-weight: $regular-weight;
              font-size: 14px;
              line-height: 16px;
              font-family: Poppins;
              color: $sub-text;
            }
          }
          .heading2 {
            display: flex;
            margin-top: 10px;
            .subtext-image {
              width: 25px;
              height: 25px;
            }
            .text {
              margin-left: 10px;
              font-weight: $regular-weight;
              font-size: 14px;
              line-height: 16px;
              font-family: Poppins;
              color: $sub-text;
            }
          }
        }
      }
    }
  }
  .about {
    display: block;
    margin-left: 20%;
    height: 200px;
    width: 1000px;
    margin-top: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    color: $button-text;
    .heading {
      margin-block: 20px;
      font-weight: $semibold-weight;
      font-size: 30px;
    }
    .details {
      font-size: 14px;
      font-weight: $regular-weight;
    }
  }
}
.carousel {
  width: 85vw;
  height: 120vh;
  margin-inline: auto;
  display: flex;
}
.ant-tabs {
  width: inherit;
  height: inherit;
  justify-content: center;
}
.ant-tabs-nav-wrap {
  justify-content: center;
}
.ant-tabs-content-holder {
  justify-content: center;
}
.values-container {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  margin-right: 100px;
  .main-heading {
    background-image: url("../assets/Images/BgPetal.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;

    .subheading-container {
      width: 256px;
      height: auto;
      .subheading {
        color: #0083e0;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 16px;
      }
    }
    .heading-container {
      width: 465px;
      height: auto;
      .heading-content {
        color: #242a43;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 38px;
      }
    }
  }

  .slider {
    margin-left: auto;
  }
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;

  .heading-container {
    height: 45px;
    text-align: center;

    .heading-content {
      color: #242a43;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 38px;
    }
  }

  .subheading-container {
    text-align: center;
    height: 45px;

    .subheading {
      color: #242a43;
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 16px;
    }
  }

  .images-container {
    width: 1110px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-top: 20px;
    }
  }
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
}

.heading-container {
  height: 45px;
  text-align: center;
  margin-bottom: 40px;

  .heading-content {
    color: #242a43;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 38px;
  }
}

.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  height: 200px;
  .content {
    background-image: url("../../assets/Images/Partners.svg");
    background-size: contain;
    background-position: center;
    height: 180px;
    width: 70%;
    background-repeat: no-repeat;
  }
}
