.UserPage {
  display: flex;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3)
    no-repeat;
  background-size: cover;
}

.leftSide {
  width: 15%;
  transition: width 0.3s ease-in-out;
}
.hide {
  width: 0;
}

.rightSide {
  background-color: #f0f2ff;
  width: 100%;
  padding: 20px;
}

.sideBarIcon {
  transform: rotate(180deg);
  height: 30px;
  transition: transform 0.5s ease-in-out;
}

.sideBarIconRotate {
  transform: rotate(360deg);
}
