@import "../../sass/style.scss";
.header-container {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  margin-top: 10px;
  .inner-container {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 95%;
    .logo {
      height: 80px;
      width: 144px;
      cursor: pointer;
    }
    .sections {
      display: flex;
      height: 40px;
      width: 500px;
      justify-content: start;
      display: flex;
      align-items: center;
      .section1 {
        cursor: pointer;
        height: 30px;
        width: fit-content;
        margin-top: 10px;
        margin-left: 20px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        color: $header-font-color;
      }
      .section2 {
        cursor: pointer;
        height: 30px;
        width: fit-content;
        margin-left: 20px;
        font-family: Poppins;
        font-size: 16px;
        margin-top: 10px;
        font-weight: 500;
        color: $header-font-color;
      }
      .section3 {
        cursor: pointer;
        height: 30px;
        margin-left: 20px;
        color: $header-font-color;
        font-family: Poppins;
        font-size: 16px;
        margin-top: 10px;
        font-weight: 500;
        width: fit-content;
      }
      .section4 {
        cursor: pointer;
        height: 30px;
        margin-left: 20px;
        width: fit-content;
        font-family: Poppins;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        color: $header-font-color;
      }
    }
    .portal-container {
      cursor: pointer;
      height: 40px;
      width: 114px;
      align-items: center;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      color: $secondary-color;
      display: flex;
    }
  }
}
