@import "../../sass/style.scss";

.footer {
  display: flex;
  height: 750px;
  width: 100%;
  justify-content: center;
  align-items: end;
  background-color: white;
  background-color: $footer-color;
  border-radius: 450px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  .main-container {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-first-container {
      display: inherit;
      width: inherit;
      height: 300px;
      align-items: start;
      justify-content: center;
      .footer-inner-container {
        width: 570px;
        height: 200px;
        .footer-title-container {
          height: 140px;
          color: white;
          font-family: Poppins;
          font-weight: 600;
          font-size: 50px;
          text-align: center;
          width: 500px;
        }
      }
    }
    .hairline {
      width: 1140px;
    }
    .footer-second-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo-container {
        width: inherit;
        height: 300px;
        display: flex;
        align-items: center;
      }
      .detail {
        width: 750px;
        height: 195px;
        display: flex;
        &.parnity-container {
          width: 250px;
          display: flex;
          height: inherit;
          .content {
            font-family: Poppins;
            font-weight: 300;
            font-size: 16px;
            .header {
              font-weight: 500;
              font-size: 20px;
            }
            .inner-content {
              margin-top: 7px;
              .home {
                width: fit-content;
                cursor: pointer;
              }
              .about-us {
                width: fit-content;
                cursor: pointer;
              }
              .shipmgmt {
                width: fit-content;
                cursor: pointer;
              }
              .agency {
                width: fit-content;
                cursor: pointer;
              }
              .portal {
                width: fit-content;
                cursor: pointer;
              }
            }
          }
        }
        .support-container {
          width: 250px;
          display: flex;
          background: yellowgreen;
          height: inherit;
        }
        .follow-container {
          width: 250px;
          display: flex;
          background: violet;
          height: inherit;
        }
      }
    }
    .copyright-container {
      justify-content: inherit;
      align-items: inherit;
      width: inherit;
      height: 24px;
    }
  }
}
.footer-button-container {
  cursor: pointer;
  display: flex;
  background-color: $button-color;
  height: 46px;
  width: 150px;
  margin-left: 170px;
  margin-top: 20px;
  color: $button-text;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
}
