@import "./sass/style.scss";
#root {
  width: 100%;
  height: 100%;
  font-family: TTInterphasesProVariable;
}
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "TTInterphasesProVariable";
  src: local("TTInterphasesProVariable"),
    url("./assets/Fonts/TTInterphasesProVariable.ttf") format("truetype");
  font-weight: bold;
}
