.ship-management-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: Poppins;

  .ship-management-card-icon {
    height: 10rem;
    width: 10rem;
  }
  .ship-management-card-heading {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
  }

  .ship-management-card-description {
    max-width: 20rem;
    color: #424242;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem; /* 125% */
  }
}
